html {
  scroll-behavior: smooth;
}

body {
  font-family: "Mulish", sans-serif;
}

:root {
  --green_color: #539a76;
  --yellow_color: #d8b65c;
  --dark_color: #0a191e;
}

.text_green {
  color: var(--green_color);
}

.text_yellow {
  color: var(--yellow_color);
}

.text_dark {
  color: var(--dark_color);
}

.bg_green {
  background-color: var(--green_color);
}

.bg_yellow {
  background-color: var(--yellow_color);
}

.bg_dark {
  background-color: var(--dark_color);
}

.bg_dark_half {
  background-color: #0a191eee;
}

.bd_green {
  border: 1px solid var(--green_color);
}

.bd_bottom_green {
  border-bottom: 1px solid var(--green_color);
}

@keyframes showtext {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.nav_text_show {
  opacity: 0;
  transform: translate3d(-50px, 0, 0); /* ADDED - start x position as -50px */
  cursor: pointer;
  transition: 0.25s all ease-in-out;
}
.nav_text_show:hover {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.main_img {
  background-image: url(../imgs/bg-masthead.jpg);
  background-attachment: fixed;
  background-size: center;
  background-repeat: no-repeat;
  width: 100%;
}

@media (max-width: 420px) {
  .main_img {
    background-image: url(../imgs/bg-masthead.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
  }
}

.bg_background_main {
  background-color: #0a191ec2;
}

.hero_img {
  width: 40vw;
}

@media (min-width: 1920px) {
  .hero_img {
    width: 25vw;
  }
}

.our_people_img {
  width: 40vw;
}
@media (min-width: 1920px) {
  .our_people_img {
    width: 70%;
  }
}

.bounce_service_card {
  transition-duration: 600ms;
}

@keyframes move {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-550%);
  }
}

@media (min-width: 720px) {
  .bounce_service_card:hover {
    transform: translateY(-20px);
  }
}

.move_partners {
  animation: move 30s linear infinite;
}

@media (min-width: 720px) {
  @keyframes move {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-200%);
    }
  }
  .move_partners {
    animation: move 15s linear infinite;
  }
}

.zoom_gallery_img {
  transition-duration: 600ms;
}
.zoom_gallery_img:hover {
  transform: scale(1.1);
}

@media (min-width: 720px) {
  @keyframes move_testimonials {
    0% {
      transform: translateX(200%);
    }
    100% {
      transform: translateX(-200%);
    }
  }
  .move_testimonials {
    animation: move_testimonials 20s linear infinite;
  }
}

@media (min-width: 1920px) {
  @keyframes move_testimonials {
    0% {
      transform: translateX(150%);
    }
    100% {
      transform: translateX(-200%);
    }
  }
  .move_testimonials {
    animation: move_testimonials 40s linear infinite;
  }
}

.contact_imgs {
  width: 120px;
  height: 120px;
}

@keyframes ww {
  0% {
    transform: rotateZ(0);
  }
  50% {
    transform: rotateZ(180deg) scale(1.5);
  }
  100% {
    transform: rotateZ(0);
  }
}

.ww_animation {
  transition-duration: 600ms;
}

.ww_animation:hover {
  animation: ww 5s linear infinite;
}

/* Galeria Carrosel */
/* Slideshow container */
.slideshow-container {
  max-width: 600px;
  position: relative;
  margin: auto;
}

.slideshow-container-testimonials {
  max-width: 70vw;
  position: relative;
  margin: auto;
}

@media (max-width: 420px) {
  .slideshow-container-testimonials {
    max-width: 90vw;
    position: relative;
    margin: auto;
  }
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--yellow_color);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: var(--green_color);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* Button top top */

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: var(--yellow_color);
  color: var(--dark_color);
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bolder;
}

#myBtn:hover {
  opacity: 80%;
}
