body {
  font-family: "Mulish", sans-serif;
}

:root {
  --green_color: #539a76;
  --yellow_color: #d8b65c;
  --dark_color: #0a191e;
}

.text_green {
  color: var(--green_color);
}

.text_yellow {
  color: var(--yellow_color);
}

.text_dark {
  color: var(--dark_color);
}

.bg_green {
  background-color: var(--green_color);
}

.bg_yellow {
  background-color: var(--yellow_color);
}

.bg_dark {
  background-color: var(--dark_color);
}

.bg_dark_half {
  background-color: #0a191eee;
}

.bd_green {
  border-bottom: 1px solid var(--green_color);
}

.main_img {
  background-image: url(../imgs/bg-masthead.jpg);
  background-attachment: fixed;
  background-size: center;
  background-repeat: no-repeat;
  width: 100%;
}

@media (max-width: 420px) {
  .main_img {
    background-image: url(../imgs/bg-masthead.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
  }
}

.bg_background_main {
  background-color: #0a191ec2;
}

.hero_img {
  width: 40vw;
}

@media (min-width: 1920px) {
  .hero_img {
    width: 25vw;
  }
}

.our_people_img {
  width: 40vw;
}
@media (min-width: 1920px) {
  .our_people_img {
    width: 70%;
  }
}

.bounce_service_card {
  transition-duration: 600ms;
}

@keyframes move {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-550%);
  }
}

@media (min-width: 720px) {
  .bounce_service_card:hover {
    transform: translateY(-20px);
  }
}

.move_partners {
  animation: move 30s linear infinite;
}

@media (min-width: 720px) {
  @keyframes move {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-200%);
    }
  }
  .move_partners {
    animation: move 15s linear infinite;
  }
}

.zoom_gallery_img {
  transition-duration: 600ms;
}
.zoom_gallery_img:hover {
  transform: scale(1.1);
}

@media (min-width: 720px) {
  @keyframes move_testimonials {
    0% {
      transform: translateX(200%);
    }
    100% {
      transform: translateX(-200%);
    }
  }
  .move_testimonials {
    animation: move_testimonials 20s linear infinite;
  }
}

@media (min-width: 1920px) {
  @keyframes move_testimonials {
    0% {
      transform: translateX(150%);
    }
    100% {
      transform: translateX(-200%);
    }
  }
  .move_testimonials {
    animation: move_testimonials 40s linear infinite;
  }
}

.contact_imgs {
  width: 120px;
  height: 120px;
}

@keyframes ww {
  0% {
    transform: rotateZ(0);
  }
  50% {
    transform: rotateZ(180deg) scale(1.5);
  }
  100% {
    transform: rotateZ(0);
  }
}

.ww_animation {
  transition-duration: 600ms;
}

.ww_animation:hover {
  animation: ww 5s linear infinite;
}
